<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="mytracksStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>
        
        <form id="search" action="/mainpage" method="post">
            <input type="text" name="track" id="trackSearch" placeholder="Please enter a song">
            <input id="searchButton" type="submit" value="Search">
        </form>
        
        <form action="/" method="get">
            <input id="logoutButton" type="submit" value="Log out">
        </form>
        
        <form id="playlistForm" action="/playlist" method="get">
            <input id="playlistButton" type="submit" value="Show my playlist">
        </form>
        
        <div id="songList">
            <form class="songForm" action="/tracks" method="post">
                <h2 class="songTitle">{{songTitle0}}</h2>
                <h3 class="artist">{{artist0}}</h3>
                <img class="image" src="{{img0}}">
                <br>
                <input onclick="myFunction()" class="addtoPlaylist" type="submit" value="Add to playlist"/>
                <input class="invisible" type="hidden" name="songName" value="{{songTitle0}}">
            </form>

            <form class="songForm" action="/tracks" method="post">
                <h2 class="songTitle">{{songTitle1}}</h2>
                <h3 class="artist">{{artist1}}</h3>
                <img class="image" src="{{img1}}">
                <br>
                <input class="addtoPlaylist" type="submit" value="Add to playlist"/>
                <input class="invisible" type="hidden" name="songName" value="{{songTitle1}}">
            </form>

            <form class="songForm" action="/tracks" method="post">
                <h2 class="songTitle">{{songTitle2}}</h2>
                <h3 class="artist">{{artist2}}</h3>
                <img class="image" src="{{img2}}">
                <br>
                <input class="addtoPlaylist" type="submit" value="Add to playlist"/>
                <input class="invisible" type="hidden" name="songName" value="{{songTitle2}}">
            </form>

            <form class="songForm" action="/tracks" method="post">
                <h2 class="songTitle">{{songTitle3}}</h2>
                <h3 class="artist">{{artist3}}</h3>
                <img class="image" src="{{img3}}">
                <br>
                <input class="addtoPlaylist" type="submit" value="Add to playlist"/>
                <input class="invisible" type="hidden" name="songName" value="{{songTitle3}}">
            </form>

            <form class="songForm" action="/tracks" method="post">
                <h2 class="songTitle">{{songTitle4}}</h2>
                <h3 class="artist">{{artist4}}</h3>
                <img class="image" src="{{img4}}">
                <br>
                <input class="addtoPlaylist" type="submit" value="Add to playlist"/>
                <input class="invisible" type="hidden" name="songName" value="{{songTitle4}}">
            </form>


        </div>
        
        {{> footer}}
        <script>
            function myFunction() {
                alert("Hello\nHow are you?");
            }
        </script>
    </body>
</html>